<h1>{{.PageTitle}}</h1>
<ul>
    {{range .Wines}}
        <li>
            <p>Title: {{.Title}} <br>
                Grape: {{.Grape}} <br>
                Origin: {{.Origin}} <br>
                Producer: {{.Producer}} <br>
                Vintage: {{.Vintage}} <br>
                Taste: {{.Taste}} <br>
                Color: {{.Color}} <br>
                Aroma: {{.Aroma}} <br>
                Acidity: {{.Acidity}} g/ml <br>
                Sweetness: {{.Sweetness}} g/ml <br>
                Price: {{.Price}} kr <br>
                ISWineScale: {{.ISWineScale}} <br>
                Id: {{.Id}}
            </p></li>
            <button>
                <a href="/edit/{{.Id}}">Edit</a>
            </button>
    {{end}}
</ul>