<h1>{{.PageTitle}}</h1>
<button>
    <a href="/add">Upload</a>
</button>
<ul>
    {{range .Wines}}
    <li>
        <p>Title: {{.Title}} <br>
            Grape: {{if .Grape.Valid}}{{.Grape.String}}{{end}} <br>
            Origin: {{if .Origin.Valid}}{{.Origin.String}}{{end}} <br>
            Producer: {{if .Producer.Valid}}{{.Producer.String}}{{end}} <br>
            Vintage: {{if .Vintage.Valid}}{{.Vintage.Int64}}{{end}} <br>
            Taste: {{if .Taste.Valid}}{{.Taste.String}}{{end}} <br>
            Color: {{if .Color.Valid}}{{.Color.String}}{{end}} <br>
            Aroma: {{if .Aroma.Valid}}{{.Aroma.String}}{{end}} <br>
            Acidity: {{if .Acidity.Valid}}{{.Acidity.Float64}}{{end}} g/ml <br>
            Sweetness: {{if .Sweetness.Valid}}{{.Sweetness.Float64}}{{end}} g/ml <br>
            Price: {{if .Price.Valid}}{{.Price.Float64}}{{end}} kr <br>
            ISWineScale: {{.ISWineScale}} <br>
            Id: {{.Id}}
        </p>
    </li>
    <button>
        <a href="/edit/{{.Id}}">Edit</a>
    </button>
    <button>
        <a href="/delete/{{.Id}}">Delete</a>
    </button>
    {{end}}
</ul>